@model List<ProductRegistration.Web.Models.UserModel>
@{
    Layout = "~/Views/Shared/_Regastro.cshtml";
    ViewBag.Title = "Usuários";
    ViewBag.Lista = Model;
}

@section Styles {
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Regastro/User.css" rel="stylesheet" />
}

@section TituloGrid {
    <th><span class="coluna-ordenacao" data-campo="nome">Name</span></th>
    <th><span class="coluna-ordenacao" data-campo="login">Login</span></th>
    <th>Ação</th>
}

@section CamposRegastro {
    <div class="row">
        <div class="col-md-12">
            @Html.Label("txt_nome", "Name", new { @class = "control-label" })
            @Html.TextBox("txt_nome", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Label("txt_email", "E-mail", new { @class = "control-label" })
            @Html.TextBox("txt_email", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Label("txt_login", "Login", new { @class = "control-label" })
            @Html.TextBox("txt_login", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Label("txt_Key", "Key", new { @class = "control-label" })
            @Html.TextBox("txt_Key", null, new { @class = "form-control", type = "password" })
        </div>
    </div>
}

@section Scripts{
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script>
        var tituloPagina = '@ViewBag.Title';
        var url_excluir = '@Url.Action("ExcluirUser", "RegUser")';
        var url_confirmar = '@Url.Action("SaveUser", "RegUser")';
        var url_page_click = '@Url.Action("UserPagina", "RegUser")';
        var url_tam_pag_change = '@Url.Action("UserPagina", "RegUser")';
        var url_filtro_change = '@Url.Action("UserPagina", "RegUser")';
        var url_alterar = '@Url.Action("RecuperarUser", "RegUser")';
        var linhas = [];

        @{
            var linha = 0;
            foreach (var item in Model)
            {
                linha++;
                if (linha <= ViewBag.QuantMaxLinhasPorPagina)
                {
                    @:linhas.push(@Html.Raw(Json.Encode(item)));
                }
                else
                {
                    break;
                }
            }
        }
    </script>
    <script id="template-grid" type="x-tmpl-mustache">
        <tr data-id="{{ Id }}">
            <td>{{ Name }}</td>
            <td>{{ Login }}</td>
            <td>
                <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
            </td>
        </tr>
    </script>
    <script src="~/Scripts/Regastro/User.js"></script>
}
